/*
Red Lantern redesign
HFWD Chapter 1
*/

/*
The font size here is set to 62.5% so that
1em = 10px. This makes adjusting our typography
a little easier
*/
body {
	margin: auto;
	width: 1000px;
	color: #555555;   
	letter-spacing: normal;
	background-color: #ffffff ;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}
#main{
	background-image:url('../image/201212011028278251.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	
	
}
#header{
	padding-top:1.5% ;
    padding-left:30px;
    padding-bottom:60px;
}
#logo {
	line-height: 2em;
}
#black {
    color: #000000;
    text-decoration: none;
    font-size: 50px;
}

#white {
    color:white;
    text-decoration: none;
    font-size: 50px;
}
#metamorph{
	color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
	padding-left:10px;
}
#menu{
	width: auto ;
    margin: -30px 0px 0px 0px  ; 
    padding:5px 0px 3px 0px ;
    text-align: center;
    font-size:15px;
    background-color: #000000;
    list-style-type: none;
}
#menu li {
    display: inline-block ;/*變橫*/

    margin: 0px 50px 0px 0px  ;
}

#menu a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    font-size: 1.1em;
}
#CustomerLogin{
	margin: 20px 0px 0px 0px  ; 
    float: left;
    width: 33.3%;
}
#LoginButtom {
    font-size: 0.5em;
    text-align:center;
    width: 100%;
    border-radius:8px ; /* 圓角 */
    margin: auto;
    padding: 10px 0px 10px 0px;
    background:linear-gradient(0deg,rgb(112, 112, 112),#000)
}
#LoginButtom h1{
	color: white;
}
#LoginBox{
	margin: auto;
	margin-left: 2em;
    font-size: 0.5em;
}
input[type="submit"]{
	width:auto;
	margin-top:10px;
    padding:5px;
}
#CompanyNews{
	margin: 20px 0px 0px 0px  ; 
    float: left;
    width: 33.3%;
	text-align: center;
}
#ComButtom{
font-size: 0.5em;
text-align:center;
width: 300%;
border-radius:8px ; /* 圓角 */
margin: auto;
padding: 10px 0px 10px 0px;
background:linear-gradient(0deg,rgb(112, 112, 112),#000)
}
#ComButtom h1{
	color:#fff;
}
.News1{
    width: 200%;
    margin: 0px 0px 0px 53px;
    color: #555555;
}
.News1 h3 h4{
	font-display: 10px;
	margin:0px 0px 0px 0px;
	padding: auto;
	font-size: 10px;
}

.News1 a{
    color: #555555;
    margin: 0 0 0px 0;
    text-decoration: underline; /* 超連結底線效果 */
}
.News2{
    width: 200%;
    margin: 0px 0px 0px 53px;
    color: #555555;
}
.News2 h3 h4{
	font-display: 10px;
	margin:0px 0px 0px 0px;
	padding: auto;
	font-size: 10px;
}

.News2 a{
    color: #555555;
    margin: 0 0 0px 0;
    text-decoration: underline; /* 超連結底線效果 */
}
.News3{
    width: 200%;
    margin: 0px 0px 0px 53px;
    color: #555555;
}
.News3 h3 h4{
	font-display: 10px;
	margin:0px 0px 0px 0px;
	padding: auto;
	font-size: 10px;
}

.News3 a{
    color: #555555;
    margin: 0 0 0px 0;
    text-decoration: underline; /* 超連結底線效果 */
}
.News4{
    width: 200%;
    margin: 0px 0px 0px 53px;
    color: #555555;
}
.News4 h3 h4{
	font-display: 10px;
	margin:0px 0px 0px 0px;
	padding: auto;
	font-size: 10px;
}

.News4 a{
    color: #555555;
    margin: 0 0 0px 0;
    text-decoration: underline; /* 超連結底線效果 */
}
.News5{
    width: 200%;
    margin: 0px 0px 0px 53px;
    color: #555555;
}
.News5 h3 h4{
	font-display: 10px;
	margin:0px 0px 0px 0px;
	padding: auto;
	font-size: 10px;
}

.News5 a{
    color: #555555;
    margin: 0 0 0px 0;
    text-decoration: underline; /* 超連結底線效果 */
}
.N1ellipsis :hover{
    color: #c03d3d;
}
#Right{
    margin: 20px 0px 0px 0px  ; 
    float: right;
    width: 63%;
}
#Right h1 ,#Right h2, #Right h3, #Right p { 
    margin: 0 ;
}
#HelloWorld {
    font-size: 1.2em;
    margin: 0px 0px 20px 0px  ; 
}
#Article01{
	width: 100%;
	margin: 30px auto;
	color: #555555;
   }
   #Article01 h2 {
	   color: #3f3f3f;
	   margin: 0 0 10px 0;
   }
   .A1ellipsis {
	   overflow:hidden; 
	   white-space: nowrap;
	   text-overflow: ellipsis;
	   display: -webkit-box;
	   -webkit-line-clamp: 6;/* 文字超過行數設定 */
	   -webkit-box-orient: vertical;
	   white-space: normal;
	   color: #868686;
	   margin: 0 0 10px 0;
   }
   #Menu02 {
        
	float: right;
	width: auto ;
	margin: 0px 0px 0px 0px ; 
	font-size:1em;
}
#Menu02 li:before{
	content:"• ";
}
#Menu02 a{
	color:  #536bb8;
}
#Article01 li{
	display: inline-block;
	margin: 0px 10px 0px 0px  ;
}
#Article02{
	width: 100%;
	margin: 30px auto;
	color: #555555;
   }
   #Article02 h2 {
	   color: #3f3f3f;
	   margin: 0 0 10px 0;
   }
   .A2ellipsis {
	   overflow:hidden; 
	   white-space: nowrap;
	   text-overflow: ellipsis;
	   display: -webkit-box;
	   -webkit-line-clamp: 6;/* 文字超過行數設定 */
	   -webkit-box-orient: vertical;
	   white-space: normal;
	   color: #868686;
	   margin: 0 0 10px 0;
   }
   
   #Article02 li{
	   display: inline-block;
	   margin: 0px 10px 0px 0px  ;
   }

   #Article03{
	width: 100%;
	margin: 30px auto;
	color: #555555;
   }
   #Article03 h2 {
	   color: #3f3f3f;
	   margin: 0 0 10px 0;
   }
   .A3ellipsis {
	   overflow:hidden; 
	   white-space: nowrap;
	   text-overflow: ellipsis;
	   display: -webkit-box;
	   -webkit-line-clamp: 6;/* 文字超過行數設定 */
	   -webkit-box-orient: vertical;
	   white-space: normal;
	   color: #868686;
	   margin: 0 0 10px 0;
   }
   
   #Article03 li{
	   display: inline-block;
	   margin: 0px 10px 0px 0px  ;
	}
	footer{
		float:right;
		background-color: #3a3a3a;
		height: 80px;
		width: 100%;
		margin: 0;
		text-align: center;
	   
		
	}
	
	footer p {
		font-size:12px;
		margin: 2px 0 0 0 ;
		padding:5px 0 ;
		color: #f4f4f4
		}
		footer p a{
			color: #f4f4f4
			}
